<div   style="background-color: #111111;">
  <div class="row p-4">
    <div class="col-6 ">
      <h4 class="text-primary">Restaurant</h4>
<p class="footer-color">Be the first to know about new collections, special events, and what’s going on at Our Place. We are creative
</p>
      <h5 class="text-secondary">Book a table</h5>
      <p class="text-primary">888 999 1110</p>
    </div>
    <div class="col-6">
      <h4 class="text-primary"> Get In Touch</h4>
      <p><i class="fa-sharp fa-solid fa-location-dot pe-1 footer-color"></i>Silk St, Barbican, London E2Y, UK</p>
      <p><i class="fa-solid fa-phone pe-1 footer-color"></i> +39-055-123456</p>
      <p><i class="fa-solid fa-envelope pe-1 footer-color"></i>booking@webexample.com</p>
    </div>
  </div>
  
</div>
