<header class="">
  <app-navbar></app-navbar>
<div class="text-primary position-absolute top-50 start-50 translate-middle text-center">
  <h1 class="w-75 m-auto lh-base">Delicious Foods With Wonderful Eating</h1>
  <div class="mt-4">
    <button type="button" class="btn btn-secondary text-primary me-3 px-4 py-2">VIEW MORE</button>
    <button type="button" class="btn btn-outline-secondary text-primary me-3 px-4 py-2">FOOD MENU</button>
  </div>
</div>

</header>
<!-- <p>header works!</p> -->
<!-- <section>
  <div class="text-center">
    <h4>Our Food Menu</h4>
    <p class="text-dark">It’s the story of an everlasting love affair, Dieter Delicioz and the Atlantic Ocean in the big air.</p>
  </div>
  <div>
    <a routerLink="ALL" class="p-10 text-light">ALL</a>
    <a routerLink="Breakfast" class="p-10 text-light">BREAKFAST</a>
    <a routerLink="Dinner"  class="p-10 text-light">DNNER</a>
    <a routerLink="launch"  class="p-10 text-light">lUNCH</a>

    <a routerLink="menu"  class="p-10 text-light">moreFood</a>

    --------Food section--------
    <div class="row text-center">
     <div class="col-3">
      <div class="mx-2">
      <img src="" alt="">
      <P>rating</P>
      <p>Food Name</p>
      <p> Food price</p>
      </div>
     </div>
    </div>

    --------Food Details------
    <section>
      <div class="row">
        <div class="col-6">
         <div>
          <img src="" alt="">
         </div>
        </div>
        <div class="col-6">
         <div>
            <p>Price</p>
            <h4>Tommy’s Margarita</h4>
            <p>Food desc</p>

            <div>
              <input type="number" >
              <button>ADD TO CART</button>
            </div>
            <p><span>Categories:</span> Dineer,launch</p>
         </div>
        </div>
      </div>

      <div>
        <a routerLink="">Description</a>
        <a routerLink="">Reviews</a>

      </div>
    </section>
  </div>
</section> -->
