
.favorite
{
  color: red;
  &-not{
    color: gray;
  }
}

.food_menu{
  background-color: #F7F7F7;
}
.food :hover img {
transform: scale(0.95);
}

.tag{
  background-color: #DD5903;
  color:#fff;
  &:hover{
    color: #DD5903;
    background-color:#fff;
    border: 1px solid #DD5903;
  }
}
